<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>畅所欲言</title>
    <link rel="stylesheet" href="../styles/mainstyle.css">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <div class='group' style="display: inline-block;">
            <img src="../img/icon.png" alt="Logo" id="logo">
            <img src="../img/logotext.png" alt="logotext" id="logotext">
        </div>
        <nav>
            <a href="../index.html">首页</a>
            <a href="../findmeian/findmeian.html">循迹梅庵</a>
            <a href="#">畅所欲言</a>
            <a href="../about/about.html">关于我们</a>
        </nav>
    </header>
    <div class="header-avoid"></div>
    
    <h1 style="text-align: center; font-size: 100;">畅所欲言</h1>

    <div class="container">
        <div class="toggle-buttons">
            <button class="toggle-button active" onclick="toggleSection('comment')" id="comment-button">评论区</button>
            <button class="toggle-button" onclick="toggleSection('qa')" id="qa-button">Q&A</button>
        </div>
        <div class="content-wrapper">
            <div id="commentSection" class="content active">
                <div class="comment-section">
                    <div class="comment-list" id="commentList"></div>
                    <textarea class="comment-input" id="commentInput" placeholder="发表你的观点吧！"></textarea>
                    <button onclick="addComment()">提交</button>
                </div>
                <div class="comment-container">
                    <!-- <div id="comments1">
                        <p style="display: inline;">这是一条评论</p>
                        <a href="#" class="delete-button">删除按钮</a>
                    </div> -->
                    <div id="comments"></div>
                </div>
                
            </div>
            <div id="qaSection" class="content">
                <div class="qa-section">
                    <div class="qa-text">
                        <p>Q: 这是一个问题示例吗？<br>A: 是的，这是一个示例。</p>
                    </div>
                </div>
            </div>
        </div>
      </div>
    
    <!-- <div style="margin-bottom: 100px;display: block;"></div> -->

    <footer>
        <span class="left">
            <a href="https://www.seu.edu.cn" target="_blank">友情链接</a>
            <a href="https://1.117.220.194:10086/tencentcloud" target="_blank">管理员面板</a>
        </span>
        <a class="right" href="https://beian.miit.gov.cn/" target="_blank">渝ICP备2024048135号&nbsp;&nbsp;</a>
    </footer>
    
    <script src="script.js"></script>
</body>
</html>