<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>关于我们</title>
    <link rel="stylesheet" href="../styles/mainstyle.css">
</head>
<body>
    <header>
        <div class='group' style="display: inline-block;">
            <img src="../img/icon.png" alt="Logo" id="logo">
            <img src="../img/logotext.png" alt="logotext" id="logotext">
        </div>
        <nav>
            <a href="../index.html">首页</a>
            <a href="../findmeian/findmeian.html">循迹梅庵</a>
            <a href="../freetotalk/freetotalk.html">畅所欲言</a>
            <a href="#">关于我们</a>
        </nav>
    </header>
    <div class="header-avoid"></div>

    <h1 style="text-align: center;">关于我们</h1>

    <footer>
        <span class="left">
            <a href="https://www.seu.edu.cn" target="_blank">友情链接</a>
            <a href="https://1.117.220.194:10086/tencentcloud" target="_blank">管理员面板</a>
        </span>
        <a class="right" href="https://beian.miit.gov.cn/" target="_blank">渝ICP备2024048135号&nbsp;&nbsp;</a>
    </footer>
</body>
</html>