<!DOCTYPE html>
<html lang="zh-CN">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>梅庵云迹</title>
    <link rel="icon" href="img/icon.png" type="image/png">
    <link rel="stylesheet" href="{% static 'home/styles/indexstyle.css' %}">
    <link rel="stylesheet" href="{% static 'home/styles/mainstyle.css' %}">

</head>

<body>

    <header>
        <div class='group' style="display: inline-block;">
            <img src="{% static 'home/img/icon.png' %}" alt="Logo" id="logo">
            <img src="{% static 'home/img/logotext.png' %}" alt="logotext" id="logotext">
        </div>
        <nav>
            <a href="#">首页</a>
            <a href="findmeian/findmeian.html">循迹梅庵</a>
            <a href="freetotalk/freetotalk.html">畅所欲言</a>
            <a href="about/about.html">关于我们</a>
        </nav>
    </header>
    <div class="header-avoid"></div>

    <div class="slider">
        <img src="{% static 'home/img/1.png' %}" class="active" alt="轮播图1">
        <img src="{% static 'home/img/2.png' %}" alt="轮播图2">
        <img src="{% static 'home/img/3.png' %}" alt="轮播图3">

        <div class="controls">
            <button class="control-btn" id="prevBtn">&#10094;</button>
            <button class="control-btn" id="nextBtn">&#10095;</button>
        </div>

        <div class="thumbnails">
            <div class="thumbnail active" data-index="0"></div>
            <div class="thumbnail" data-index="1"></div>
            <div class="thumbnail" data-index="2"></div>
        </div>
    </div>

    <hr>
    <div class="intro">
        <div class="intro-container">
            <img src="{% static 'home/img/创始人.png' %}" alt="创始人" class="fade-in-image">
            <div class="intro-text">
                <h1>创始人</h1>
                <p>
                    梅庵，位于东南大学四牌楼校区西北角，在六朝松旁，西临进香河，北近鸡笼山。
                </p>
                <p>
                    1902年，东南大学的前身三江师范学堂在四牌楼创建。1905年，学堂改名为两江师范学堂。1915年，南京高等师范学校在此基础上成立。
                    江谦校长为纪念两江师范学堂监督李瑞清办学之功，在六朝松旁，以带皮松木为梁架，建起三间茅草屋，周围环以梅树，以李瑞清之号“梅庵”命名。
                </p>
                <p>
                    南高时期，近代著名古琴家王燕卿曾在梅庵教习古琴，由此而有梅庵琴派传世至今。五四运动以后，这里逐渐成为江苏地区马克思主义的传播中心
                    和党团组织的活动基地。1933年，国立中央大学时期改建为砖混结构平房，作为音乐教室使用。1947年，著名历史学家柳诒徵教授亲笔题写“梅庵”匾额。
                </p>
                <p>
                    师道梅庵，潜心治校，教育救国，两江师范学堂监督李瑞清掌校期间大力改革，贯通中西，他教育救国、潜心治校，传授新知、作育新才，师道大义、呵护学子，是中国近现代教育的重要奠基人，中国现代美术教育的先驱，中国现代高等师范教育的开拓者。他视教育若性命，学校若家庭，学生若子弟，亲定校训嚼得菜根，做得大事，在他的悉心治理下，两江师范学堂形成了俭朴、勤奋、诚笃的校风和独立思考，崇实务本的学风，成为青年有志学子向往聚集之地。李瑞清主政时的两江师范学堂践行教育救国的进步思想，为革命救国保育了新生的力量。学府圣地，革命摇篮；赤子忱心，薪火以传。
                    马克思主义在这里传播弘扬，党团组织在这里诞生成长，革命精神在这里孕育传承，红色基因深深熔铸于东大精神之中。
                </p>
            </div>
        </div>

        <hr>
        <div>
            <h1>团二大会议</h1>
            <p>
                梅庵不仅是马克思主义的传播中心之一，更在中国革命历史上留下了浓墨重彩的一笔。它见证了中国社会主义青年团第二次全国代表大会的召开，
                而这次会议是中国青年运动发展的重要里程碑。
            </p>
            <p>
                在五四运动后，马克思主义在中国广泛传播，南京高等师范学校逐步成为江苏地区马克思主义的传播中心和党团组织活动的重要基地。
                这里汇聚了一批热血青年，他们积极投身革命，为中国的未来奋斗。少年中国学会南京分会便是在这样的背景下成立的。南京高等师范学
                校的教员杨贤江担任书记，积极宣传马克思主义，主办《少年中国》杂志，为马克思主义在中国的传播做出了重要贡献。
            </p>
            <p>
                1921年5月，南京高等师范学校进步学生谢远定、吴肃等人成立了“马克思主义研究会”，秘密宣传马克思主义。随后，南京社
                会主义青年团也宣告成立，为革命群众运动的发展奠定了思想和群众基础。早期南京党团活动多发生在梅庵，这里成为了革命
                青年们交流思想、策划行动的重要场所。
            </p>
            <p>
                1923年8月20日至25日，中国社会主义青年团第二次全国代表大会在梅庵召开。毛泽东同志以中共中央代表的
                身份参加了中国社会主义青年团第二次全国代表大会。这次大会是决定青年团发展方向的一次具有重要历史意
                义的会议，也是团的历史上唯一一次在高校召开的全国代表大会。
            </p>
            <p>
                在团二大第七次会议上，代表们再次讨论了团与党的关系，即：组织独立，政策上完全服从共产党；中国共产党与
                中国社会主义青年团中央开会时互派代表；中国共产党应尽力援助中国社会主义青年团。从“协定”到“服从”，党
                团关系就此确定，这是此次大会最突出的成就。社会主义青年保证了在统一战线的政策方面与党在思想上、行动上
                完全一致。心与使命始终如一，在时代洪流中始终把握着正确的方向。
            </p>
            <p>
                可以说，团的一大主要宣布了组织诞生，而团的二大，真正决定了团的发展方向和各项工作的开展细则。团二大还对团
                章做了第一次修正，与党的二大党章的分章完全一致。
            </p>
        </div>
        <hr>
        <div>
            <h1>影响及意义</h1>
            <p>此外，“团二大”第七次会议决定出版《中国青年》周刊，以对青年宣传。1923年10月20日，中国社会主义青年团机关刊《中国青年》在上海创刊。
                杰出的中国共产党人、早期中国青年运动卓越的领导者恽代英是《中国青年》第一任主编。他在《发刊词》中发出了石破天惊的疾呼：“中国的唯
                一希望，便是靠这些还勃勃有生气的青年。”《中国青年》宣传马克思主义和中国共产党的主张，动员鼓舞广大青年反对帝国主义、封建主义，同
                时还关注青年的学习、工作、生活等实际问题，因而受到当时青年们的热烈欢迎。萧楚女、林育南、邓中夏、张太雷、李求实等革命家都曾参与过
                《中国青年》早期创办工作或作为主要撰稿人。
            </p>
            <p>
                历史是文化的载体，文化是历史的血脉。在新的历史条件下，国家鼓励并支持高校弘扬中华优秀传统文化和革命文化、社
                会主义先进文化，推动中华优秀传统文化融入教育教学，加强革命文化和社会主义先进文化教育。文化传承创新是“双一流”
                建设高校的重要职能和重要内容，对于东南大学而言，在新的历史条件下挖掘梳理自身的历史文化源流，对于传承中华优秀传
                统文化、革命文化，培养新时代有东大特色的领军人才意义非凡。
            </p>
            <p>
                东南大学梅庵作为“团二大”的召开地，不仅承载了这段革命历史的重要记忆，也成为了中国革命青年们追求真理、投身革命的象征。如今，
                当我们再次走进这座历史建筑时，仍能感受到那份炽热的革命热情和坚定的信仰力量。
            </p>
            <p>
            </p>
        </div>
    </div>

    <br><br>

    <footer>
        <span class="left">
            <a href="https://www.seu.edu.cn" target="_blank">友情链接</a>
            <a href="https://1.117.220.194:10086/tencentcloud" target="_blank">管理员面板</a>
        </span>

        <a class="right" href="https://beian.miit.gov.cn/" target="_blank">渝ICP备2024048135号&nbsp;&nbsp;</a>
    </footer>

    <!-- <script>
    let currentImageIndex = 1;
    const images = ['./img/1.png', './img/2.png', './img/3.png']; // 轮换图片列表

    function changeImage() {
        currentImageIndex = (currentImageIndex + 1) % images.length;
        document.getElementById('sliderImage').src = images[currentImageIndex];
    }

    setInterval(changeImage, 3000); // 每3秒切换一次图片
</script> -->
    <script src="{% static 'home/script/sliderimg.js' %}"></script>

</body>

</html>